h1 {
    color: red;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    background-color: blanchedalmond;
    background-image: none;
    text-align: center;
    border: solid;
    border-color: black;
}